<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main role="main">
  <h3 class="mt-5">Edit Owner</h3>
  <form
    id="edit-owner-form"
    class="mb-5"
    action="/owners/edit/<%= result.id %> "
    method="POST"
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Name"
        value="<%= result.name %> "
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="name@example.com"
        value="<%= result.email %> "
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Done</button>
  </form>
</main>

<%- include('../partials/footer.ejs') %>
