<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main role="main">
  <h1>Owners</h1>
  <ul class="list-group list-group-flush">
    <% ownersArr.forEach(o=>{ %>
    <li class="media pb-3">
      <img
        src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg"
        class="mr-3 img-thumbnail"
        style="height: 64px"
        alt="..."
      />
      <div class="media-body">
        <h5 class="mt-0 mb-1"><%= o.name %></h5>
        <p><%= o.email %></p>
      </div>
      <div>
        <button class="btn btn-info">View</button>
        <button class="btn">Edit</button>
      </div>
    </li>
    <!-- <li class="list-group-item"><%= o.name %> <%= o.email %></li> -->
    <% }) %>
  </ul>

  <form class="mb-5">
    <h3 class="mt-5">Create New Owner</h3>
    <div class="form-group">
      <label for="ownerName">Name</label>
      <input
        type="text"
        class="form-control"
        id="ownerName"
        placeholder="Name"
      />
    </div>
    <div class="form-group">
      <label for="ownerEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="ownerEmail"
        placeholder="name@example.com"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Create</button>
  </form>
</main>

<%- include('../partials/footer.ejs') %>
