<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main role="main">
  <h1>Owners</h1>
  <a href="/owners/new" class="btn btn-primary mb-5">Create New Owner</a>
  <ul class="list-group list-group-flush">
    <% ownersArr.forEach(o=>{ %>
    <li class="media pb-3">
      <img
        src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg"
        class="mr-3 img-thumbnail"
        style="height: 64px"
        alt="..."
      />
      <div class="media-body">
        <h5 class="mt-0 mb-1"><%= o.name %></h5>
        <p><%= o.email %></p>
      </div>
      <div>
        <a href="/owners/single/<%= o.id %> " class="btn btn-info">View</a>
      </div>
    </li>
    <!-- <li class="list-group-item"><%= o.name %> <%= o.email %></li> -->
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer.ejs') %>
